body {
    background-color: #f8f8f8;
}

.input {
    width: 90%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.input input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 2px solid #333;
    outline: none;
    margin-right: 20px;
    padding: 5px 20px 5px 10px;
    font-size: 24px;
    border-radius: 20px;
}

.copy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copy h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    opacity: 0.4;
    font-weight: lighter;
    display: none;
}

.copy i {
    font-size: 30px;
    color: blue;
    cursor: pointer;
}

.keyboard {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.row {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

.keyboard button {
    width: 20%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid #333;
    transform: scale(0.95);
}

.keyboard button:hover {
    background-color: #333;
    color: #fff;
}

.keyboard button:active {
    transform: scale(1);
}
.keyboard .Enter{
    width: 40%;
}
.keyboard .Back{
    width: 35%;
}
.keyboard .Shift{
    width: 45%;
}
.keyboard .Space{
    width: 100%;
    transform: scale(0.98);
}